<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <div class="container-fluid my-5 py-5">
        <div class="row g-0">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="project-header d-flex justify-content-between h-100">
                    <h2>OUR<br>PROJECTS</h2>
                    <a href="../pages/projectHomePage.html"><button class="explore-btn btn-outline-dark p-2 px-3">Explore Work</button></a>
                </div>
            </div>

            <!-- Right Section -->
            <div class="col-md-9">
                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                    {
                    "loop": true,
                    "speed": 1300,
                    "autoplay": {
                        "delay": 1800,
                        "disableOnInteraction": false
                    },
                    "slidesPerView": 2,
                    "spaceBetween": 16,
                    "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                    },
                    "navigation": {
                        "nextEl": ".swiper-button-next",
                        "prevEl": ".swiper-button-prev"
                    },
                    "breakpoints": {
                        "320": {
                            "slidesPerView": 1,
                            "spaceBetween": 8,
                            "centeredSlides": true
                        },
                        "480": {
                            "slidesPerView": 1,
                            "spaceBetween": 8,
                            "centeredSlides": true
                        },
                        "640": {
                            "slidesPerView": 2,
                            "spaceBetween": 8,
                            "centeredSlides": true
                        },
                        "992": {
                            "slidesPerView": 2,
                            "spaceBetween": 20
                        }
                    }
                }
                </script>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="project-card">
                                <a href="../projects/shilp-residence.html">
                                    <img src="../assets/img/our-project-slider/shilp-residence.png" alt="Project Image">
                                    <div class="project-info">
                                        <h3>SHILP RESIDENCE</h3>
                                        <p>Residential renovation and interiors</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-card">
                                <a href="../projects/visa-office.html">
                                    <img src="../assets/img/our-project-slider/visa-office.png" alt="Project Image">
                                    <div class="project-info">
                                        <h3>VISA OFFICE</h3>
                                        <p>Office interiors</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-card">
                                <a href="../projects/pratham-meadows.html">
                                    <img src="../assets/img/our-project-slider/pratham-meadows.png" alt="Project Image">
                                    <div class="project-info">
                                        <h3>PRATHAM MEADOWS</h3>
                                        <p>Architectural planning and interiors</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-card">
                                <a href="../projects/darshanam-splendora.html">
                                    <img src="../assets/img/our-project-slider/darshanam-splendora.png" alt="Project Image">
                                    <div class="project-info">
                                        <h3>DARSHANAM SPLENDORA</h3>
                                        <p>Apartment interiors</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-card">
                                <a href="../projects/samanway-westfields.html">
                                    <img src="../assets/img/our-project-slider/samanvay-westfields.png" alt="Project Image">
                                    <div class="project-info">
                                        <h3>SAMANVAY WESTFIELDS</h3>
                                        <p>Penthouse interiors</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-card">
                                <a href="../projects/vedant-villa.html">
                                    <img src="../assets/img/our-project-slider/vedant-villa.png" alt="Project Image">
                                    <div class="project-info">
                                        <h3>VEDANT VILLA</h3>
                                        <p>Residential interiors</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-card">
                                <a href="../projects/city-centre-residence.html">
                                    <img src="../assets/img/our-project-slider/city-centre-residence.png" alt="Project Image">
                                    <div class="project-info">
                                        <h3>CITY CENTRE RESIDENCE</h3>
                                        <p>Residential renovation and interiors</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-card">
                                <a href="../projects/somani-residence.html">
                                    <img src="../assets/img/our-project-slider/somani-residence.png" alt="Project Image">
                                    <div class="project-info">
                                        <h3>SOMANI'S RESIDENCE</h3>
                                        <p>Architecture planning and Elevation Design</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>